<article class="container-fluid comments-section">

    <h3>Comentários</h3>

    <div class="comments-block">
        
        <mat-card class="comment-card" *ngFor="let item of comments">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.city}}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
                {{item.comment}}
            </mat-card-content>
    
        </mat-card>

    </div>

</article>