@import '../shared/css/general-section.scss';

.nav-pl {
    width: 100%;
    padding: 10px;
    background-color: rgb(79, 112, 202);
    color: whitesmoke;
    display: flex;
    justify-content: center;
}


.footer-pl {
    background-color: rgb(79, 112, 202);
    padding: 25px;

    a{
        color: whitesmoke;
        text-decoration: none;
        cursor: pointer;
    }
}


div {
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}