@import '../shared/css/general-section.scss';

.nav-pl {
    width: 100%;
    padding: 10px;
    background-color: rgb(79, 112, 202);
    color: whitesmoke;
    display: flex;
    justify-content: center;
}