<form class="login-box" [formGroup]="admin" (ngSubmit)="submit()">

    <h4>Login</h4>

    <div class="space-between">

        <mat-form-field class="field">

            <mat-label>Apelido</mat-label>
            <input type="text" matInput formControlName="name">

        </mat-form-field>

    </div>

    <div class="space-between">

        <mat-form-field class="field">

            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password">

        </mat-form-field>

    </div>

    <div class="actionsButtons">
        <button type="submit" mat-raised-button color='primary'>
            Entrar
        </button>
        <a class="changePassword" (click)='codeChangePassword()'>Mudar a senha</a>
    </div>

</form>