.section {
    width: 100%;
    height: 835px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}

.text-part {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding-bottom: 90px;
}

.text-part > h1 {
    margin-bottom: 80px;
}


.button-part {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-part-btn {
    color: black;
    width: fit-content;
    padding: 12px;
    background-color: whitesmoke;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
}

.button-part-btn:hover {
    color: black;
}




@media screen and (max-width: 780px) {
    .section {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .text-part {
        width: 100%;
        padding: 30px;
    }

    .button-part {
        width: 100%;
        height: 33%;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0px;
    }
}