<form class="login-box">

    <h4>Login</h4>

    <div class="space-between">

        <mat-form-field class="field">

            <mat-label>Código</mat-label>
            <input type="text" matInput>

        </mat-form-field>

    </div>

    <div class="space-between">

        <mat-form-field class="field">
    
            <mat-label>Nova senha</mat-label>
            <input type="password" matInput>
    
        </mat-form-field>

    </div>

    <div class="space-between">

        <mat-form-field class="field">
    
            <mat-label>Repita a senha</mat-label>
            <input type="password" matInput>
    
        </mat-form-field>

    </div>


    <button type="submit" mat-raised-button color='primary'>
        Entrar
    </button>

</form>