<div class="section1">

    <div class="text-part">
        <h1>Texto motivacional</h1>
        <span>
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
        </span>
    </div>
    <div class="button-part">
        <a class="button-part-btn" href="#">Mais informações</a>
    </div>

</div>
<div class="section2">

    <div class="text-part">
        <h1>Texto motivacional</h1>
        <span>
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
            Aqui vão estar contidos os textos do Leandro
        </span>
    </div>
    <div class="button-part">
        <a class="button-part-btn" href="#">Mais informações</a>
    </div>
    
</div>

<app-visitors-examples></app-visitors-examples>

<app-visitors-comments></app-visitors-comments>

<div style="height: 200px;">

</div>